<template>
   <div>

      <div v-if="isOpen">

        <div class="modal">      

          <h1>{{ restaurantData.name }}</h1>
          <h1>{{ restaurantData.cuisine }}</h1>
          <img :src="restaurantData.imgPath" /> 
         <p></p>

         <button  @click="newEmitEvent">Close Modal</button>

        </div>
      </div>
   </div>
</template>

<script>

   export default {

      name: 'RestaurantModal',
      
      props: {
         title: String,
         taco: { Type: String, default: 'salsa', required: false },
         restaurantData: { Type: Object, default: {}, required: false },
         modalOpen: { Type: Boolean, default: false } 
      },

      computed: {
         isOpen() {
            return this.modalOpen; 
         }
      },
      methods: {

         newEmitEvent() {
            this.$emit("newEmitEvent");
         },

      },
   }

</script>

<style>

* {
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {

  width: 100%;
}

/* For mobile phones: */
@media only screen and (min-width: 200px) {

    body {
      background-color: rgb(211, 194, 44);
    }
  
}

  /* For tablets: */
@media only screen and (min-width: 100px) {

    body {
      background-color: rgb(74, 159, 187);
    }
  
}

  /* For desktops: */
@media only screen and (min-width: 400px) {

    body {
      background-color: rgb(74, 187, 80);
    }

}

</style>