<template>

   <!--  test page to dyanmically load restaurant pages, not working -->

  <div>
 
    <h1>  </h1>

  </div>
</template>

<script>
export default {
  name: 'testPage',
  props: {
    msg: String
  }
}
</script>

<style scoped>

</style>
