<template>

<div id="app">

 <RestaurantModal :restaurant-data="restaurants[selectedIndex]" :modal-open="modalIsOpen" v-on:newEmitEvent="newEmitEvent" /> 

    <h1 class="main-logo">Restaurant Organizer</h1>

    <!--<button v-show="modalIsOpen" @click="newEmitEvent">Close Me</button>-->
    
    <div class="grid-container"> 
      <div v-for="(restaurant, index) in restaurants" :key="`index-${index}`" >
          <div class="card" @click="setIndex(index)">
            <div class="grid-container9"> 

            <img class ="grid-item9" :src="restaurant.imgPath" />

            <div class="flex-container"> 
              <div> {{ restaurant.name }} </div>
              <div> {{restaurant.cuisine}} </div>
              <div> {{restaurant.id}} </div>
            </div>
           </div>
          </div>
      </div>

</div>

</div>

</template>

<script>

import RestaurantModal from '@/components/RestaurantModal.vue'

export default {
  name: 'App',
  components: {

     RestaurantModal

  },

  data() {
    return {
      selectedIndex: 0,
      testName: 'Nick',
      modalIsOpen: false,
      restaurants: [
        {
          id: '001',
          name: 'Pesos',
          cuisine: 'Mexican',
          imgPath: require('./assets/pesos.png')
        },
 
        {
          id: '002',
          name: 'Paseo\'s',
          cuisine: 'Cuban',
          imgPath: require('./assets/paseo.png')
        },

        {
          id: '003',
          name: 'Little Woody\'s',
          cuisine: 'Burgers',
          imgPath: require('./woodys.png')
        },

        {
          id: '004',
          name: 'Pac Island Grill',
          cuisine: 'Hawaiian',
          imgPath: require('./pacislandgrill.png')

        }
      ]
    }
  },

  methods: {
    closeModal() {

      alert("Should be in closeModal");
      this.modalIsOpen = false;
    },
    setIndex: function (index) {
      this.selectedIndex = index;
      this.modalIsOpen = true;
    },

    newEmitEvent () {
          this.modalIsOpen = false;
    },
  },
}


</script>

<style>

* {
  box-sizing: border-box;

}

/*
[class*="col-"] {
  width: 100%;
}
*/

  @media only screen and (min-width: 300px) {
    .grid-container {
        display: flex;
        justify-content: left;

      }
  }

  @media only screen and (min-width: 700px) {
     .grid-container {
        display: flex;
        justify-content: center;
     }
  }

  @media only screen and (min-width: 1200px) {
     .grid-container {
        display: flex;
        justify-content: right;
     }
}

/* For mobile phones: */
@media only screen and (min-width: 300px) {

    body {
      background-color: rgb(211, 194, 44);
    }
  
}

  /* For tablets: */
@media only screen and (min-width: 700px) {

    body {
      background-color: rgb(74, 159, 187);
    }
  
}

  /* For desktops: */
@media only screen and (min-width: 1200px) {

    body {
      background-color: rgb(74, 187, 80);
    }

}

.grid-container {
  display: grid;
  grid-template-columns: fit-content(100%);
  grid-template-rows: 1fr 1fr;
  background-color: #ffffff;
  border: 0rem solid rgb(75, 75, 75);
  padding: 1rem;
  margin: .1rem;
  justify-content: center;
  align-content: start;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.flex-container {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  gap: .5rem;
  padding: 0.5rem;

  background: greenyellow;
  border: .1rem solid red;
}

.main-logo {

font-family: 'Arial', sans-serif;
color:rgb(199, 27, 27);

}

.grid-container9 {
  display: grid;
  grid-template-columns: auto auto;

  grid-template-rows: auto auto auto;
  grid-gap: .8rem .8rem;
  background-color: rgb(221, 221, 221);
  border: .1rem solid rgb(110, 110, 110);
  margin: .1rem;
  padding: .1rem;
  justify-content: left;
  align-content: left;
}

.grid-item9 {
  grid-row: 1 / 4;
  border: 0rem solid rgb(90, 90, 90);
  margin: .1rem;
  padding: .1rem;
  justify-content: left;
  align-content: left;
}

/* styling from card tutorial */

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c2c2c;
  margin-top: 60px;

}

.card {
 /*
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30rem;
  margin: 1rem;
  padding: 1rem;
  text-align: left;

  display: block;
  margin-left: auto;
  margin-right: auto;
*/
}

.card .p {
  text-align: center;
}


img {
  border-radius: 1rem 1rem 1rem 1rem;
  width: 200px;
  height: 100px;
}

.logo-image {

  width: 799px;
  height: 97px;
}

.card:hover {
  box-shadow: 0 8px 12px 0 rgba(78, 78, 78, 0.3);
}

.container {
  padding: .1rem .1rem;
}

ul {
    list-style-type: none;
}

.modal {
  width: 900px;
  height: 500px;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px 3px;
  transition: all 0.2s ease-in;
  font-family: Helvetica, Arial, sans-serif;
}

</style>
